@use './defaults.scss' as *;

// GC Design System Fonts - Icons
@font-face {
  font-family: 'gcds-icons';
  src:
    url('https://cdn.design-system.canada.ca/@gcds-core/fonts@1.1.1/icons/gcds-icons.ttf')
      format('truetype'),
    url('https://cdn.design-system.canada.ca/@gcds-core/fonts@1.1.1/icons/gcds-icons.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='gcds-icon-'],
[class*=' gcds-icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: var(--gcds-font-families-icons) !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --- Icons --- */

.gcds-icon-arrow-down:before {
  content: '\f013';
}

.gcds-icon-arrow-up:before {
  content: '\f011';
}

.gcds-icon-arrow-up-down:before {
  content: '\f012';
}

.gcds-icon-checkmark-circle:before {
  content: '\f021';
}

.gcds-icon-chevron-down:before {
  content: '\f020';
}

.gcds-icon-chevron-left:before {
  content: '\f01f';
}

.gcds-icon-chevron-right:before {
  content: '\f01e';
}

.gcds-icon-chevron-up:before {
  content: '\f01d';
}

.gcds-icon-close:before {
  content: '\f01c';
}

.gcds-icon-download:before {
  content: '\f01b';
}

.gcds-icon-email:before {
  content: '\f01a';
}

.gcds-icon-exclamation-circle:before {
  content: '\f019';
}

.gcds-icon-external:before {
  content: '\f018';
}

.gcds-icon-filter:before {
  content: '\f005';
}

.gcds-icon-info-circle:before {
  content: '\f017';
}

.gcds-icon-phone:before {
  content: '\f016';
}

.gcds-icon-search:before {
  content: '\f002';
}

.gcds-icon-sort:before {
  content: '\f003';
}

.gcds-icon-tune:before {
  content: '\f000';
}

.gcds-icon-warning-triangle:before {
  content: '\f014';
}

/* --- Icon Sizes --- */

$sizes: (
  h1: h1,
  h2: h2,
  h3: h3,
  h4: h4,
  h5: h5,
  h6: h6,
  text: text,
  text-small: text-small,
) !default;

// Generates icon size classes with breakpoints + states
@each $classState, $state in $states {
  @each $className, $value in $sizes {
    .#{$classState}icon-#{'' + $className}#{$state} {
      font-size: var(--gcds-font-sizes-#{$value});
      line-height: var(--gcds-line-heights-#{$value});

      @media only screen and (width < 48em) {
        font-size: var(--gcds-font-sizes-#{$value}-mobile);
        line-height: var(--gcds-line-heights-#{$value}-mobile);
      }
    }
  }

  .#{$classState}icon-inherit#{$state} {
    font-size: inherit;
    line-height: inherit;

    @media only screen and (width < 48em) {
      font-size: inherit;
      line-height: inherit;
    }
  }
}
